@config
    
.gallery
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%

    &__post
        width: 43vw
        margin-left: 1%
        margin-right: 1%
        margin-bottom: 10%

        &-image
            max-width: 40vw
            margin-bottom: 2%

        &-name
            font-family: helvetica
            font-size: 14px
            padding-top: 2%

        &-detail
            font-family: helvetica
            font-size: 14px
            padding-top: 2%
            color: #7a7a7a

        &-price
            font-family: helvetica
            font-size: 14px
            padding-top: 2%
        
        
