.interest
    font-size: 18px
    font-family: Arial, Helvetica, sans-serif
    margin: 25% 0%
    padding-left: 5%
    
    
.gallery-int
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 80vw
    margin-left: 10%

    &__post
        width: 80vw
        margin-left: 1%
        margin-right: 1%
        margin-bottom: 10%

        &-image
            max-width: 80vw
            margin-bottom: 2%

        &-name
            font-family: helvetica
            font-size: 14px
            padding-top: 2%

        &-detail
            font-family: helvetica
            font-size: 14px
            padding-top: 2%
            color: #7a7a7a

        &-price
            font-family: helvetica
            font-size: 14px
            padding-top: 2%