<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>feed</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <header class='header'>
        <div class='header__takePhoto'></div>
        <div class='header__logo'></div>
        <div class='header__chats'></div>
    </header>
    <main>
    <section>
        <div></div>
        <div></div>
        <div></div>
    </section>
    <figure></figure>
    <section>
        <figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figcaption>
        <article>
            <p></p>
        </article>
        <p></p>
    </section>
    </main>
    <footer>
        <nav>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </nav>
    </footer>
</body>
</html>