<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>feed</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <header class='header'>
        <div class= 'header__advertisment'>
            <p class= 'header__advertisment'>Publicaciones</p>
    </header>
    <nav>
        <ul class='followers'>
            <li class='followers__photo'></li>
            <li class='followers__publish'></li>
            <li class='followers__publish'></li>
            <li class='followers__publish'></li>
        </ul>
    </nav>
    <main>
    <div class='post'>
        <div class= 'post__foto1'>Foto1</div>
        <div class= 'post__foto2'>Foto2</div>
        <div class= 'post__foto3'>Foto3</div>
        <div class= 'post__foto4'>Foto4</div>
        <div class= 'post__foto5'>Foto5</div>
        <div class= 'post__foto6'>Foto6</div>
        <div class= 'post__foto7'>Foto7</div>
        <div class= 'post__foto8'>Foto8</div>
        <div class= 'post__foto9'>Foto9</div>
    </div>
        <div class ='buttons'>
            <div class = 'buttons__heart buttons__heart--like'></div>
            <div class = 'buttons__coment'></div>
            <div class = 'buttons__chat'></div>
            <div class = 'buttons__favorites buttons__favorites--add'></div>
        </div>
        <div class = 'comments'>
            <p class ='comments__text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe adipisci minima consectetur sit quut, a cum ad. Voluptatem magnam molestiast id natus consequatur autem illo  </p>
        </div>
    </div>
    </main>
    <footer>
        <nav>
            <ul class='footer'>
                <li class='footer__house'></li>
                <li class='footer__search'></li>
                <li class='footer__plus'></li>
                <li class='footer__heart'></li>
                <li class='footer__profile'></li>
            </ul>
        </nav>
    </footer>
</body>
</html>