.footer
    background-color: black
    color: white
    &__mobile
        display: flex
        flex-direction: column
    &__info
        margin: 1vh
        border-bottom: 1px solid gray
    &__help
        display: flex
        justify-content: space-between
        margin: 0 1vh
    &__nike
        display: flex
        justify-content: space-between
        margin: 0 1vh