h1
    font-size: 15vh
    justify-content: center
    align-items: center
    font-family: 'Cambria'
    display: flex
    flex-direction: row
    margin: 0
    margin-top: 20vh
    .p1
        color: blue
        margin: 0 
    .p2
        color: red
        margin: 0 
    .p3
        color: yellow
        margin: 0 
    .p4
        color: blue
        margin: 0 
    .p5
        color: green
        margin: 0 
form
    text-align: center
    margin-top: 7vh
    input
        border-radius: 1em
        width:50%
        height: 4vh
    button
        height: 4vh
        background-color: green


