.details
    display: flex
    flex-direction: column
    text-align: left

    &__left
        background-color: grey
        width: 100%

    &__exit
        background-color: orange
        color: white
        width: 10%
        height: 10%
    &__container
        display: flex
        flex-direction: column