.results
    list-style: none
    display: flex
    flex-direction: column
    width: 100%
    padding: 0

@media screen and (min-width: 768px)
    .results
        flex-direction: row
        flex-wrap: wrap

@media screen and (min-width: 1024px)
    .results
        width: 80%
        margin: 0 auto