@import utils
    
.register
    @extend %form
    
    &--hide
        display: none

    .input
        @extend %input

    button
        @extend %button
    
    a
        color: rgb(255, 164, 164)
        display: block
        padding: 0.5rem
        margin: 0.5rem
        font-family: Arial, sans-serif


.form__title
    @extend %title
