.results
    list-style: none
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    padding-left: 0
    overflow: hidden
    justify-self: center
    margin: 2vw
    margin-left: 5vw
        