<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ugly-table</title>
    <link rel="stylesheet" type="text/css" href="ugly-table.css">
    <style>
        table {
    width: 100%;
}
td {

    border: 1px solid black;
    height: 50 px;
    padding: 10px;
    text-align: center
}

.nnav,.aside {
    width: 20%;
    height: 200px;
}
.mmain {
    width: 70%;
}


    </style>
</head>
<body>
<table>
    <tr>
    <td>Header</td>
    </tr>
    <tr>
        <td class="nnav" >Nav</td>
        <td class="mmain">Main</td>
        <td class="aaside" >Aside</td>
    </tr>
    <tr>
        <td>Footer</td>
    </tr>
</table>
</body>
</html>
