<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header class="header">
        <nav class="header__nav">
            <a class="header__logo" href="#">NIKE</a>
            <ul class="header__list">
                <li class="header__item"><a class="header__link" href="#">SEARCH</a></li>
                <li class="header__item"><a class="header__link" href="#">CART</a></li>
                <li class="header__item"><a class="header__link" href="#">MENU</a></li>
            </ul>
        </nav>
    </header>

    <aside class="aside">
        <div class="aside__content">
            <p>Path - Section</p>
            <p>Price</p>
        </div>
        <h1 class="aside__price">Product</h1>
    </aside>

    <figure class="image">
        <img class="image__content" src="https://fakeimg.pl/250x250/" alt="product">
    </figure>

    <main class="main">
        <div class="main__sizes">
            <p>Select your size</p>
            <p class="main__sizes--light">sizes guide</p>
        </div>
        <div class="main__select">
            <div class="main__select--one center">size</div>
            <div class="main__select--two center">size</div>
            <div class="main__select--three center">size</div>
            <div class="main__select--four center">size</div>
            <div class="main__select--five center">size</div>
            <div class="main__select--six center">size</div>
            <div class="main__select--seven center">size</div>
        </div>
        <div class="main__button main__button--dark">Add to cart</div>
        <div class="main__button main__button--light">Favorite</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius culpa officia harum cumque sapiente eligendi neque incidunt deleniti maxime! Esse iure est quas minima repellendus deleniti labore facilis quisquam provident.</p>
        <ul>
            <li>Color</li>
            <li>Model</li>
        </ul>
        <a href="#" class="main__moreinfo">More info</a>

        <div class="main__info">
            <div class="main__info--option"><a href="#">Size and adjust</a></div>
            <div class="main__info--option"><a href="#">Returns and free shipping</a></div>
            <div class="main__info--option"><a href="#">Evaluations</a></div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__header">
            <ul class="footer__list">
                <li class="footer__option">CARDS GIFTS</li>
                <li class="footer__option">NEAR SHOPS</li>
                <li class="footer__option">NEWSLETTER</li>
                <li class="footer__option">SIGN IN</li>
                <li class="footer__option">STUDENTS DISCOUNT</li>
                <li class="footer__option">COMMENTS</li>
            </ul>
        </div>

        <div class="footer__help">HELP</div>
        
        <div class="footer__about">ABOUT</div>

        <div class="footer__social">
            <div>tweeter</div>
            <div>facebook</div>
            <div>youtube</div>
            <div>instagram</div>
        </div>

        <div class="footer__location">
            <div class="footer__location-icon">icon</div>
            <div class="footer__location-copyright">&copy;2020 Nike, Ink. Todos los derechos reservados</div>
        </div>

        <div class="footer__foot">
            <div>Guides</div>
            <div>Conditions use</div>
            <div>Conditions sale</div>
            <div>Privacy policy and cokies</div>
            <div>Legal warning</div>
            <div>Cookies configuration</div>
        </div>
    </footer>
</body>
</html>