<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class = "header">
        
        <div class="header__logo"> LOGO</div>
        <div class="header__search">SEARCH</div>
        <nav class="header__social">SOCIAL</nav>
        
    </header>

    <main>
        
        <section class="profile-link">PROFILE NAME</section>

        <section class="stories">STORIES</section>

        <section class="sfriends">SUGGESTED FRIENDS</section>

        <section class="pictures pictures-1">PICTURE</section>
        <section class="pictures pictures-2">PICTURE</section>
        <section class="pictures pictures-3">PICTURE</section>
        <section class="pictures pictures-4">PICTURE</section>
        <section class="pictures pictures-5">PICTURE</section>
        <section class="pictures pictures-6">PICTURE</section>

    </main>
    
</body>
</html>
