<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <header class="header border">
        <div class="header__takePhoto alignCenter border"></div>
        <div class="header__logo border">INSTAGRAM</div>
        <div class="header__chats border"></div>
    </header>
    <nav class="nav border">
        <ul class="nav__carrusel">
            <li class="nav__stories border nav__stories--border-user"></li>
            <li class="nav__stories border"></li>
            <li class="nav__stories border"></li>
            <li class="nav__stories border"></li>
            <li class="nav__stories border"></li>
        </ul>
    </nav>
    <main>
        <section class="upper-bar border">
            <div class="upper-bar__user">
                <div class="upper-bar__user-photo border"></div>
                <div class="upper-bar__user-name border"></div>
            </div>
            <div class="upper-bar__options border"></div>
        </section>
        <figure class="image border">IMAGE HERE</figure>
        <section>
            <figcaption class="icons">
                <div class="actions">
                    <div class="actions__like border"></div>
                    <div class="actions__comment border"></div>
                    <div class="actions__send border"></div>
                </div>
                <div class="save-post border"></div>
            </figcaption>
            <p class="comments border">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi necessitatibus, consequatur fuga nulla ab explicabo dolorem officiis dolores numquam voluptatibus labore nihil qui dolore esse. Incidunt consequatur sit molestiae?</p>
        </section>
    </main>
    <footer>
        <nav class="navigation">
            <div class="navigation__home border"></div>
            <div class="navigation__search border"></div>
            <div class="navigation__post border"></div>
            <div class="navigation__activity border"></div>
            <div class="navigation__profile border"></div>
        </nav>
    </footer>
</body>
</html>