@import config
    
h1
    max-height: 10%
    width: 25%
    display: flex
    justify-content: center
    align-items: center
    font-family: 'Cambria'
    font-size: 10vw
    margin: 3% auto 3% auto
    cursor: pointer

.p1
    color: blue

.p2
    color: red

.p3
    color: yellow

.p4
    color: blue

.p5
    color: green