.footer
    background-color: #f2f2f2
    font-family: arial,sans-serif
    color: rgba(0,0,0.87)
    opacity: 0.75
    bottom: 0
    height: 60px
    position: fixed
    width: 100%
    font-size: 13px

    &__footerCountry
        background-color: #e2e0e0
        border-bottom: 1px solid #c5c5c5
        height: 30px

    &__conditions    
        display: flex
        background-color: #e2e0e0
        justify-content: space-between
    &__privacity
        list-style: none
        display: flex
        padding-left: 0
        height: 30px

    &__privacity > li    
        margin-left: 10px 

    &__publicity    
        list-style: none
        display: flex

    &__publicity > li 
        margin-right: 10px

    &--hide
        display: none


