.results
    display: flex
    flex-wrap: wrap
    list-style-type: none

.item-list
    margin: 0.5rem
    background-color: white
    border: 3px solid blue
    border-radius: 1rem

.img-photo
    cursor: pointer
    width: 80%

.item-name, .item-price
    font-family: 'Sigmar One', cursive
    font-size: 30px

.list
    list-style-type: none

article
    width: 30%