body
    text-align: center
    font-family: sans-serif
    width: 90%
    margin: 0 auto
    padding: 0

    
@import components/search
@import components/login
@import components/register
@import components/feedback
@import components/results
@import components/detail