<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
    <div class="profile">
    <figure>       
    <h1></h1>
    <figure></figure>
</header>
<main>
<nav>
    <ul  class="histo">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</nav>
<figure></figure>
<h1></h1>
<figure></figure>
<img>

<p></p>
<p></p>  
</body>
</html>