<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
</head>

<body>
    <header>
        <ul class="headerProfile">
            <li class="avatar">
                <img class="avatar_picture" src="https://www.shareicon.net/data/2016/02/19/721756_people_512x512.png"
                    alt="Elephant at sunset"></li>

            <li class="headerProfile__post">Post</li>
            <li class="headerProfile__followers">Followers</p>
            <li class="headerProfile__follows">Follows</p>
        </ul>
    </header>
    <section class="editProfile">
        <button class="editProfile__edit">Edit profile</button>

    </section>
    <section>
        <nav>
            <ul class="histo">
                <li class="histo__photos"></li>
                <li class="histo__photos"></li>
                <li class="histo__photos"></li>
            </ul>
        </nav>
        <main class="picturesProfile">
            <div class="picturesProfile__one"></div>
            <div class="picturesProfile__two"></div>
            <div class="picturesProfile__three"></div>
            <div class="picturesProfile__four"></div>
            <div class="picturesProfile__five"></div>
            <div class="picturesProfile__six"></div>
            <div class="picturesProfile__seven"></div>
            <div class="picturesProfile__eight"></div>
            <div class="picturesProfile___nine"></div>

        </main>


        <div class="footer">
            <ul class="footerActions">
                <li class="footerActions__mainpage"></li>
                <li class="footerActions__search"></li>
                <li class="footerActions__add"></li>
                <li class="footerActions__heart"></li>
                <li class="footerActions__profile"></li>
            </ul>
    </section>
    </section>
    <footer>
    </footer>

</body>

</html>