<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile-post</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header class="header">
        <div class="header__profilePost">Posts</div>
    </header>
    <main>
        <div class="main">
            <div class="maininfo">
                <figure class="avatar">
                    <img class="avatar_picture"
                        src="https://www.shareicon.net/data/2016/02/19/721756_people_512x512.png"
                        alt="Elephant at sunset">
                    <figcaption class="avatar_caption">An elephant at sunset</figcaption>
                </figure>
                <img class="maininfo__photofeed" src="profilepicture.png">

                <div class="buttons">
                    <div class="buttons__heart">
                    </div>
                    <div class="buttons__addcomment">
                    </div>
                    <div class="buttons__send">
                    </div>
                    <div class="buttons__favourite">
                    </div>
                </div>
                <div class="commentsPost"></div>
                <pclass="">
                    </p>
                    <p class="commentsPost__photo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, nobis
                        accusantium id suscipit recusandae facere sit fugiat natus ullam iste assumenda praesentium in
                        non quisquam saepe ipsa blanditiis explicabo ea!Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Neque, nobis accusantium id suscipit recusandae facere sit fugiat natus ullam
                        iste assumenda praesentium in non quisquam saepe ipsa blanditiis explicabo ea!Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Neque, nobis accusantium id suscipit recusandae facere
                        sit fugiat natus ullam iste assumenda praesentium in non quisquam saepe ipsa blanditiis
                        explicabo ea!</p>

    </main>
    <main>
        <div class="main">
            <div class="maininfo">
                <figure class="avatar">
                    <img class="avatar_picture"
                        src="https://www.shareicon.net/data/2016/02/19/721756_people_512x512.png"
                        alt="Elephant at sunset">
                    <figcaption class="avatar_caption">An elephant at sunset</figcaption>
                </figure>


                <img class="maininfo__photofeed" src="profilepicture.png">

                <div class="buttons">
                    <div class="buttons__heart">
                    </div>
                    <div class="buttons__addcomment">
                    </div>
                    <div class="buttons__send">
                    </div>
                    <div class="buttons__favourite">
                    </div>
                </div>
                <div class="commentsPost"></div>
                <pclass="">
                    </p>
                    <p class="commentsPost__photo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, nobis
                        accusantium id suscipit recusandae facere sit fugiat natus ullam iste assumenda praesentium in
                        non quisquam saepe ipsa blanditiis explicabo ea!Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Neque, nobis accusantium id suscipit recusandae facere sit fugiat natus ullam
                        iste assumenda praesentium in non quisquam saepe ipsa blanditiis explicabo ea!Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Neque, nobis accusantium id suscipit recusandae facere
                        sit fugiat natus ullam iste assumenda praesentium in non quisquam saepe ipsa blanditiis
                        explicabo ea!</p>

    </main>
    <footer>
        <div class="footer">
            <ul class="footerActions">
                <li class="footerActions__mainpage"></li>
                <li class="footerActions__search"></li>
                <li class="footerActions__add"></li>
                <li class="footerActions__heart"></li>
                <li class="footerActions__profile"></li>
            </ul>
        </div>
    </footer>
</body>

</html>