<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <div class="profile">
    <header>
        </div>
<figure></figure>
<h1></h1>
<h1></h1>
<h1></h1>
<p></p>
<button></button>
<nav></nav>
    </header>
    <main>
    <div class="pictures ">
        <figure>
        </figure>
        <figure>

        </figure>
    </div>

</p>
</main>
    </header>
    <footer>
        <nav></nav>
    </footer>
        </div>
  