<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">   
</head>
<body>


    <header>


        <div class="menu-superior">
            <div class="menu-superior__marcas">
                <nav class="marcas">
                    <ul class="marcas__menu">
                        <li class="marcas__nikeplus">NP</li>
                        <li class="marcas__jordan">Jordan</li>
                        <li class="marcas__hurley">Hurley</li>
                        <li class="marcas__converse">Converse</li>
                    </ul>
                </nav>
            </div>
            <div class="menu-superior__ajustes">   
                <nav class="ajustes">
                    <ul class="ajustes__menu">
                        <li class="ajustes__login">Regístrate / Inicia sesion</li>
                        <li class="ajustes__ayuda">Ayuda</li>
                        <li class="ajustes__carrito"><i class="fas fa-shopping-cart fa-lg"></i></li>
                        <li class="ajustes__ubicacion"><i class="fas fa-map-marker-alt fa-lg"></i><a>  España</a> </li>
                    </ul>
                </nav>
            </div>
        </div>



        <div class="menu">

            <div class="logo-nike">
                <img src="logo.png" alt="">
            </div>

            <div class="menu-principal">
                <nav class="categorias">
                    <ul class="categorias__menu">
                        <li class="categorias__novedades">novedades</li>
                        <li class="categorias__hombre">hombre</li>
                        <li class="categorias__mujer">mujer</li>
                        <li class="categorias__niño">niño/a</li>
                        <li class="categorias__personalizar">personalizar</li>
                        <li class="categorias__colecciones">colecciones</li>
                    </ul>
                </nav>
            </div>

            <div class="search">
                <div class="search__box"><i class="fas fa-search fa-lg"></i><a>  Buscar</a> </div>
            </div>
        </div>



        <div class="banner">
            <div><i class="fas fa-angle-left fa-lg"></i></div>
            <div>CLICK AND COLLECT</div>
            <div><i class="fas fa-angle-right fa-lg"></i></div>
        </div>


        <div class="mobile-menu">
            <div>LOGO</div>
            <div class="menu-icons">
                <div><i class="fas fa-search fa-lg"></i></div>
                <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                <div><i class="fas fa-bars fa-lg"></i></div>
            </div>
        </div>
    </header>



    <main>
        <div class="filtros">
            <div class="filtros__titulo">Zapatillas / Air Max</div>
            <div class="filtros__links">
                <p>Air Max 120</p>
                <p>Air Max 100</p>
                <p>Air Max 90</p>
                <p>Air Max 85</p>
                <p>Air Max 80N</p>
                <p>Air Max Plus</p>
                <p>Air Max 210</p>
                <p>Air Max 300</p>
                <p>Air Max 80SN</p>
                <p>Air Max Women</p>
                <p>Air Max 20</p>
                <p>Air Max 10</p>
            </div>
        </div>
        <div class="resultados">
            <div class="resultados__titulo">
                <ul>
                    <li>Filtro <i class="fas fa-sort-amount-down-alt"></i></li>
                    <li>Ordenar por <i class="fas fa-sort-down"></i></li>
                </ul>
            </div>
            <div class="resultados__imagenes">
                <img src="https://c.static-nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/a91af7f3-bff5-4063-b802-50da7f52eeb8/air-max-90-zapatillas-Dgc4gT.jpg">
                <img src="https://c.static-nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/exsfra9et2vcfy69lzpj/air-max-270-zapatillas-tP0Hb5.jpg">
                <img src="https://c.static-nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/a0697e54-a067-49ab-9337-75b40474da8c/air-max-270-react-zapatillas-kSBKQM.jpg">
                <img src="https://c.static-nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/410b2267-3572-4a6a-82d8-41c1e8d37d0f/air-max-270-react-zapatillas-WwzZ7r.jpg">
                <img src="https://c.static-nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/ec3edb39-20b5-4331-9bf9-42af6d4d5afe/air-max-270-react-eng-zapatillas-F6qMKf.jpg">
                <img src="https://c.static-nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/aac1e1be-44cb-4a1c-b85e-340ce58b3a6b/air-max-270-zapatillas-nino-a-CzrnPN.jpg">
             </div>
        </div>
    </main>

    <footer>
   
    </footer>

</body>
</html>