.search
    border: 1px solid black
    border-radius: 1rem

    &--hidden
        display: none

    input
        border: 1px solid black
        border-radius: 1rem

    button
        border: 1px solid black
        border-radius: 1rem

.login
    border: 1px solid black
    border-radius: 1rem
    

    &--hidden
        display: none

.register
    border: 1px solid black
    border-radius: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    flex-wrap: wrap
    align-items: center
    align-content: center
    padding: 20rem
    
    &--hidden
      display: none  

button
    background-color: #e7e7e7 
    color: black 