.header 
    display: flex
    flex-direction: row
    border-bottom: 1px solid #ccc
    &__wrapper
        width: 100vh
        display: flex
        & > * 
            padding: 0 0.5rem
    &__logo 
        flex: 1



    
