@import config

.articles
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-left: 25rem
    &__items
        width: calc(90%/2)
        display: flex
        flex-direction: column
        height: 100%
        margin: 0
        align-items: center
        justify-content: center
    &__picture
        height: auto
        align-items: center
        justify-items: center
        margin: 0 auto
    &__description
        height: auto
        align-items: center
        justify-items: center
        margin: 0 auto
         
        
       
            
