@import utils
@import normalize

%button
    +border(1px, solid, silver, 5px)
    font-size: 12px
    line-height: 1.15
    margin: 0
    cursor: pointer

%button-size
    +border(1px, solid, silver, 5px)
    background-color: white
    font-size: 12px
    height: 36px
    width: 58px
    line-height: 1.15
    margin: 0

%button-brand-nav
    max-height: 40px
    font-weight: normal
    font-size: .6rem
    cursor: pointer