$header-nav-height: 40px
$header-main-nav-height: 72px
$padding-menu: 50px

$grey: rgb(248, 248, 248)
$black: rgb(17, 17, 17)

$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif
$nav-font: 'Oswald', sans-serif

*
    margin: 0
    
ul
    list-style-type: none
    padding-left: 0

    li
        padding: 5px 0


.main-font
    font-family: $main-font
    margin: 0
    &--grey
        color: grey
    &--bold
        font-weight: bold
    &--light
        font-weight: lighter
    &--big
        font-size: 25px 
    &--smallest
        font-size: 10px


.main-nav

    &__font
        font-family: $nav-font
        font-size: 1rem
        &--white
            color: white     
        &--small
            font-size: 12px