
.body-results .item
    @media only screen and (max-width: 992px)
        max-width: 48vw
        max-height: 60vw
        flex: 1 0 51%
        margin: 0
        margin-right: 0
    
%item   
    .item__img
        max-width: 45vh
        max-height: 45vh
        flex: 1 0 34%

        @media only screen and (max-width: 992px)
            max-width: 45vw
            max-height: 45vw
            justify-content: center
            margin-right: 0


.item__caption
    max-width: 45vh

    @media only screen and (max-width: 992px)
        max-width: 45vw
        margin-right: 0
    

.item__info
    +flex(row, space-between)

.item__line
    line-height: 25px

.item__name
    max-width: 50%