=border($width, $style, $color, $radius)
    border: $width $style $color
    border-radius: $radius

=flex($flex-direction, $justify-content)
    display: flex
    flex-direction: $flex-direction
    justify-content: $justify-content