<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nike: Details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div>
            <i class="header__logo fas fa-check"></i>
        </div>

        <nav class="header__menu-list">
            <i class="header__menu-list-lent fas fa-search"></i>
            <i class="header__menu-list-purchase fas fa-shopping-cart"></i>
            <i class="header__menu-list-search fas fa-bars"></i>
        </nav>
    </header>
    
    <div class="gallery__post detail">
        <div class="gallery__post detail-top">
            <div class="gallery__post-desc detail-top-desc">Camiseta fútbol</div>
            <div class="gallery__post-price detail-top-price">90€</div>
        </div>
        <div class="gallery__post-name detail-name">Kaizer Chiefs F. C. 2019/20 Stadium Third</div>
        <img class="gallery__post-photo detail-photo" src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto,b_rgb:f5f5f5/c22315bc-ea35-49e5-9550-4bf59533e2ec/kaizer-chiefs-fc-2019-20-stadium-third-camiseta-de-futbol-dcKXNB.jpg">
    </div>
    
    <div class="sizes">
        <div class="sizes__info">
            <div class="sizes__info-1">Selecciona tu talla</div>
            <div class="sizes__info-2">Guía de tallas</div>
        </div>

        <div class="sizes__size">
            <div>S</div>
            <div>M</div>
            <div>L</div>
            <div>XL</div>
            <div>2XL</div>
        </div>
    </div>

    <div class="product-buttons">
        <button class="product-buttons__add" >Añadir a la cesta</button>
        <button class="product-buttons__fav">Favorito <i class="far fa-heart"></i></button>
    </div>

    <div class="description">
        <p class="description__text">La camiseta de la 3ª equipación Kaizer Chiefs F.C. Stadium Third combina detalles del equipo con un tejido supertranspirable para mantener la frescura y la transpirabilidad en el campo o en las gradas al animar al equipo. La equipación negra con ribete dorado rinde homenaje al 50 aniversario del Kaizer Chiefs en Sudáfrica.</p>
        <div class="description__features">
            <div>Color mostrado: Negro/Oro verdadero</div>
            <div>Modelo: AT0037-011</div>
        </div>

        <div class="more-info">
            <p>Más información</p>
        </div>
    </div>

    <div class="misc">
        <p class="misc-1">Talla y ajuste</p>
        <i class="misc-1 fas fa-chevron-down"></i>
        <p class="misc-2">Devoluciones y envíos gratuitos</p>
        <i class="misc-2 fas fa-chevron-down"></i>
        <p class="misc-3">Evaluaciones (0)</p>
        <i class="misc-3 fas fa-chevron-down"></i>
    </div>

    <footer class="footer">
        <div class="footer__info-user">
            <div>TARJETAS DE REGALO</div>
            <div>TIENDAS MÁS CERCANAS</div>
            <div>REGÍSTRATE PARA RECIBIR CORREOS ELECTRÓNICOS</div>
            <div>HAZTE MIEMBRO</div>
            <div>DESCUENTO PARA ESTUDIANTES</div>
            <div>COMENTARIOS SOBRE LA WEB</div>
            <br>
            <hr>
        </div>
            
        <div class="footer__info-help">
            <div class="footer__info-help-msg">OBTENER AYUDA</div>
            <i class="footer__info-help fas fa-plus"></i>
        </div>

        <div class="footer__info-about-us">
            <div class="footer__info-about-us-msg">ACERCA DE NIKE</div>
            <i class="footer__info-about-us fas fa-plus"></i>
        </div>
        <div class="footer__info-media">
            <i class="footer__info-media fab fa-twitter-square"></i>
            <i class="footer__info-media fab fa-facebook-square"></i>
            <i class="footer__info-media fab fa-youtube"></i>
            <i class="footer__info-media fab fa-instagram"></i>
        </div>

        <div class="footer__info-map">
            <p class="footer__info-map-country"><i class="fas fa-map-marker-alt"></i> España</p>
        </div>
        <div class="footer__info-misc">
            <div>
                <div>© 2020 Nike, Inc. Todos los derechos reservados</div>
                <div>Condiciones de uso</div>
                <div>Condiciones de venta</div>
                <div>Política de privacidad y cookies</div>
                <div>Aviso Legal</div>
                <div>Configuración de cookies</div>
            </div>
        </div>
    </footer>
</body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</html>