@import config

.description
    font-family: $search-results
    width: 100%
    padding: 0
    margin-bottom: 15%

    &__text
        width: 90%
        margin-left: 5%
        line-height: 1.5

    &__features
        list-style: disc
        width: 80%
        margin-left: 10%