<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body class=body>
    <div class=body__profile-post>
        <header class="header">
            <div class="header__logo"></div>
            <input class="header__search">
            <nav class="header__nav">
                <button class="nav__search nav__button" value="search">A</button>
                <button class="nav__notifications nav__button">B</button>
                <button class="nav__profile nav__button">C</button>
                <button class="nav__profile--active nav__button">C</button>
            </nav>
        </header>
        <main class=main__profile-post>
            <section class=post-selected>
                <img class=post__img>
                <aside class=post__description>
                    <div class=post__header>
                        <img class="post__user-pic">
                        <h4 class=post__username>USERNAME</h4>
                    </div>
                    <section class=post__comments>
                        <section class=post__comment-list>
                            <p>Sarah commented here.
                            <br> John commented here.
                            </p>
                        </section>
                        <a class=post__more-comment>See 10 more comments...</a>
                    </section>
                    <footer class=post__footer-post>
                        <nav class=post__nav>
                            <div class=post__nav-container>
                                <button class="post__fav post__button"></button>
                                <button class="post__fav--active post__button"></button>
                                <button class="post__comment post__button"></button>
                                <button class="post__share post__button"></button>
                            </div>
                            <button class="post__collection post__button"></button>
                            <button class="post__collection--active post__button"></button>
                        </nav>
                        <button class=post__likes>200 likes</button>
                        <time class=post__date><p>13 hours ago</p></time>
                        <div class=comment__entry>
                            <input class=comment__query value="Add a comment...">
                            <button class=comment__submit>Publish</button>
                        </div>
                    </footer>
                </aside>
            </section>

            <footer class=about>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>@2020 INSTAGRAM</div>
            </footer>
        </main>
    </div>
</body>
</html>