<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body class=body>
    <div class=body__profile>
        <header class="header">
            <div class="header__logo"></div>
            <input class="header__search">
            <nav class="header__nav">
                <button class="nav__search nav__button" value="search">A</button>
                <button class="nav__notifications nav__button">B</button>
                <button class="nav__profile nav__button">C</button>
                <button class="nav__profile--active nav__button">C</button>
            </nav>
        </header>
        <main class=main__profile>
            <header class=user>
                <div class=user__header>
                    <img class=user__pic>
                    <section class=user__info>
                        <h1 class=user__name>USERNAME</h1>
                        <button class=user__edit>Edit profile</button>
                    </section>
                </div>
                <section class=userinfo>
                    <h2 class=userinfo__name>username</h2>
                    <p class=userinfo__description>I love olive oil</p>
                </section>
                <div class=profile__info>
                    <div class="profile__posts info-option">A</div>
                    <div class="profile__followers info-option">B</div>
                    <div class="profile__following info-option">C</div>
                </div>
            </header>
            <nav class=profile__menu>
                <button class="profile__grid menu-option"></button>
                <button class="profile__video menu-option"></button>
                <button class="profile__collection menu-option"></button>
                <button class="profile__tagged menu-option"></button>
            </nav>
            <div class=posts__area>
                <div class=posts>
                    <img class=posts__post>
                    <img class=posts__post>
                    <img class=posts__post>
                    <img class=posts__post>
                    <img class=posts__post>
                    <img class=posts__post>
                    <img class=posts__post>
                    <img class=posts__post>
                    <img class=posts__post>
                </div>
            </div>
            <footer class=about>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>option</div>
                <div class=about__help>@2020 INSTAGRAM</div>
            </footer>
        </main>
    </div>
</body>
</html>