* {
    margin:0;
}

/* Shared elements */

.header {
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    background-color: rgb(146, 209, 146);
    padding: 0 3vw;
}

.header__logo {
    background-color:rgb(173, 90, 90);
    height: 50%;
    width: 40%;
    align-self: center;
}


.header__nav {
    color: rgb(207, 219, 221);
    height: 50%;
    width: 40%;
    align-self: center;
    background-color:rgb(125, 190, 199);
    display: grid;
    grid-template-columns: repeat(3, 2rem);
    justify-content: space-evenly;
    align-content: center;
}

.nav__profile--active {
    display: none;
}

.header__search {
    display: none;
}

.nav__button {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    justify-self: center;
}

.body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 85vh;
    width: 100vw;
}

@media only screen and (min-width: 768px) {

    .header__search {
        display: block;
        height: 25px;;
        width: 200px;
        align-self: center;
        border-radius: 5px;
    }

    .header__nav {
        color: rgb(207, 219, 221);
        height: 50%;
        width: 20%;
        align-self: center;
        background-color:rgb(125, 190, 199);
        display: grid;
        grid-template-columns: repeat(3, 2rem);
        justify-content: space-evenly;
        align-content: center;
    }

    .header__logo {
        background-color:rgb(173, 90, 90);
        height: 50%;
        width: 20%;
        align-self: center;
    }

    .comment__query {
        display: block;
        height: 5vh;
        width: 100vw;
    }

}

/* Feed */

.main__feed {
    height: 85vh;
    width: 100vw;
}

.body__feed {
    display: grid;
    grid-template-areas: "h" "n" "p";
    grid-template-rows: 10vh 10vh 100%;
    position: relative;
    height:100%;
}

.feed__nav {
    grid-area: n;
    height: 10vh;
    background-color: rgb(255, 255, 209);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}

.nav__item {
    background-color: rgb(147, 255, 244);
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    align-self: center;
}

.post {
    grid-area: p;
    background-color: rgb(179, 179, 179);
    max-width: 100vw;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10vh 100vw;
}

.post__header {
    padding-left: 5%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 205, 230);
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.post__user-pic {
    height: 8vh;
    max-height: 60px;
    max-width: 60px;
    width: 8vh;
    border-radius: 100%;
    background-color: rgb(203, 255, 203);
    align-self:center;
}

.post__username {
    align-self:center;
    padding: 0 0 0 20px;
}

.post__img {
    width: 100%;
    height: 100vw;
    max-width: 550px;
    max-height: 550px;
    justify-self: center;
    background-color: honeydew;
}

.post__footer {
    box-sizing: border-box;
}

.post__nav {
    height:5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.post__nav-container {
    max-width:150px;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 206, 231);

}

.post__button {
    height: 3vh;
    width: 10vw;
    max-width: 40px;
    max-height: 30px;
    background-color: rgb(198, 255, 198);
    align-self: center;
}

.post__fav--active {
    display:none;
    background-color: black;
}

.post__collection--active {
    display: none;
    background-color: black;
}

.post__likes {
    height: 5vh;
    max-height: 30px;
    justify-content: start;
    width: 70px;
    padding-left: 10px;
}

.post__more-comments {
    height: 5vh;
    max-height: 50px;
    padding-left: 10px;
}

.comment__query {
    display: none;
}

@media only screen and (min-width: 768px) {

    .comment__query {
        display: block;
        height: 4vh;
        width: 100vw;
        max-width: 250px;
        box-sizing: border-box;
    }
}

/* Profile */

.body__profile {
    display: grid;
    grid-template-areas:"h" 
                        "user__header" 
                        "userinfo" 
                        "profile__info" 
                        "profile__menu" 
                        "posts" 
                        "about";
    grid-template-rows: 10vh 20vh repeat(3, 10vh) 100% 20vh;
    max-width: 100vw;
    min-height: 100vh;
}

.main__profile {
    max-width: 100vw;
}

.user__header {
    grid-area: user__header;
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    margin: 2vh;
    max-width: 900px;
}

.user__pic {
    background-color: rgb(92, 109, 205);
    min-width:10vh;
    min-height:10vh;
    width: 10vh;
    height: 10vh;
    max-width: 400px;
    max-width: 400px;
    border-radius: 50%;
}

.user__info {
    width: 60vw;
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.user__name {
    max-width: 50vw;
    align-self: center;
}

.user__edit {
    width: 40vw;
    align-self: center;
    background-color: rgb(232, 255, 209);
}

.userinfo {
    padding: 0 10vw;
    grid-area: userinfo;
    height:100%;
}

.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: profile__info;
    height: 10vh;
}

.profile__menu {
    grid-area: profile__menu;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    height:10vh;
}

.menu-option {
    background-color: lightblue;
    width: 10vh;
}

.posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-evenly;
    max-width: 1000px;
    width: 100vw;
}

.posts__post {
    grid-area: posts;
    width: 32vw;
    height: 32vw;
    max-width: 300px;
    max-height: 300px;
    margin: 1vw 0;
    background-color: rgb(255, 183, 183);
    align-self: center;
}

.about {
    grid-area: about;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin:auto;
}

.about__help {
    margin: 0 3vh;
}

@media only screen and (min-width: 768px) {

    .posts__area {
        display: grid;
        justify-content: center;
    }

    .posts_post {
        max-width: 225px;
        max-height: 225px;
    }

    .user__header {
        margin: 5vh auto;
    }

    .user__pic {
        min-height: 150px;
        min-width: 150px;

    }

    .userinfo {
        margin:auto;
        padding: 0 20vw;
    }
}

/* Profile Post 


! Desktop version only */


.post-selected {
    display: flex;
    flex-flow: row wrap;
    background-color: grey;
    max-width: 800px;
    margin:auto;
    z-index:2;
}

.post__description {
    display:flex;
    box-sizing: border-box;
    flex-flow: column wrap;
    width:250px;
    position: relative;
}

.post__footer-post {
    position: absolute;
    bottom:0;
}

.post__date {
    height: 30px;
    justify-self: center;
    padding-left: 10px;
}

.post__comment-area {
    max-height: 200px;
    padding-left:10px;
    padding: 0 10px;
}

.post__comments {
    box-sizing: border-box;
    width: 250px;
    height:330px;
    padding: 10px;
}

.comment__entry {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width:250px;
}

.comment__submit {
    width:20%;
    padding:0;
    background-color: lightcoral;
}