<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram: Feed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="header__logo"><p>INSTAGRAM</p></div>
        <div class="header__user-buttons"></div>
    </div></div>


    
    <div class="stories">
        <div class="stories-post"></div>
        <div class="stories-post"></div>
        <div class="stories-post"></div>
        <div class="stories-post"></div>
        <div class="stories-post"></div>
    </div>

    <div class="posts">
        <div class="posts-post">
            <header class="posts-post__header">PROFILE NAME</header>
            <img class="posts-post__photo" src="https://fakeimg.pl/800x600/ffffff/">
            <div class="posts-post__actions">
                <div class="posts-post__fav"></div>
                <div class="posts-post__misc"></div>
                <div class="posts-post__pin"></div>
            </div>
            <div class="posts-post__comments">Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatum dignissimos vero tempore ex nostrum commodi quidem id laborum, harum a atque perspiciatis incidunt esse doloribus, quaerat, sit sunt eos.</div>
        </div>

        <div class="posts-post">
            <header class="posts-post__header">PROFILE NAME</header>
            <img class="posts-post__photo" src="https://fakeimg.pl/800x600/ffffff/">
            <div class="posts-post__actions">
                <div class="actions__fav"></div>
                <div class="actions__misc"></div>
                <div class="actions__pin"></div>
            </div>
            <div class="posts-post__comments">Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatum dignissimos vero tempore ex nostrum commodi quidem id laborum, harum a atque perspiciatis incidunt esse doloribus, quaerat, sit sunt eos.</div>
        </div>

        <div class="posts-post">
            <header class="posts-post__header">PROFILE NAME</header>
            <img class="posts-post__photo" src="https://fakeimg.pl/800x600/ffffff/">
            <div class="posts-post__actions">
                <div class="actions__fav"></div>
                <div class="actions__misc"></div>
                <div class="actions__pin"></div>
            </div>
            <div class="posts-post__comments">Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptatum dignissimos vero tempore ex nostrum commodi quidem id laborum, harum a atque perspiciatis incidunt esse doloribus, quaerat, sit sunt eos.</div>
        </div>
        
    </div>


</body>
</html>