<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram: Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="header__logo"><p>INSTAGRAM</p></div>
        <div class="header__user-buttons"></div>
    </div>

    <div class="user-info">
        <div class="user-info__photo"></div>
        <div class="user-info__name">Alex Park<br> X Posts X Followes X Following</div>
        <div class="user-info__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolore beatae, totam praesentium quas vero eos cupiditate accusantium at explicabo odio officia recusandae, nam impedit sed tempore autem non earum!</div>
    </div>
    
    <div class="gallery">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
        <img class="gallery__photo" src="https://fakeimg.pl/800x600/ffffff/">
    </div>

    <div class="footer">
        <footer></footer>
    </div>
</body>
</html>