*
    box-sizing: border-box
body
    text-align: center
    margin: 0

ul
    list-style-type: none
    margin: 0
    padding: 0
    
@import components/style/search
@import components/style/login
@import components/style/register
@import components/style/feedback

@import components/style/results
@import components/style/item
@import components/style/details
@import components/style/update
@import components/style/avatar
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css')