.app
    margin: 0
    margin-bottom: 10vh

    &__title
        font-family: 'Permanent Marker', cursive
        //font-family: 'Sigmar One', cursive
        color: rgb(255, 235, 80)
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
        height: 10vh
        font-size: 2em
        padding: 15vh 0 8vh 0
        background: url('./fire.png') no-repeat center
        background-size: contain
        z-index: 2

