@import utils
    
%button
    +flex(row, center)
    +border
    height: 5vh
    width: 20vw
    margin: 1vh 0
    font-family: arial, sans-serif
    font-size: 1em
    background-color: lightgrey

%menu
    +flex(column, space-between)
    height: 15vh
    max-width: 30vw
    margin: auto
    align-items: center

%input
    +border
    height: 10vh
    width: 20vw
    margin: 1vh 0
    font-family: arial, sans-serif
    font-size: 1.2em
    text-align: center
