@import utils
@import config

.enter
    +flex(column, space-between)
    height: 15vh
    max-width: 30vw
    margin: auto
    align-items: center

    &--hide
        display: none

    &__button
        @extend %button

    
