@import utils
@import config

body
    height: 100vh
    align-content: center

.header
    &__start
        top: 300px

        .gugal
            display: flex
            justify-content: center
            font-size: 5em
            font-family: arial, sans-serif

            .g
                color: rgb(69, 142, 250)
            
            .u
                color: rgb(222, 66, 66)
            
            .a
                color: rgb(215, 215, 65)

            .l
                color: rgb(118, 206, 118)

        

        






            
            