<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <nav>
            <div class="instagram">Instagram</div>
            <div class="iconos">
                <div class="icono">Icono</div>
                <div class="icono">Icono</div>
                <div class="icono">Icono</div>
            </div>
        </nav>
    </header>

    <div class="stories">
        <div class="story"><div class="storyB">story</div></div>
        <div class="story"><div class="storyB">story</div></div>
        <div class="story"><div class="storyB">story</div></div>
        <div class="story"><div class="storyB">story</div></div>
    </div>

    <main class="content">
        <div class="headerpost">
            <div>Img</div>
            <div>UserLink</div>
            <div>...</div>
        </div>
    </main>
    
</body>
</html>