<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid">
        <header>
            <nav class="flex">
                <div class="instagram rem">Instagram</div>
                <input type="text" placeholder="search" class="search-bar">
                <div class="iconos flex rem">
                    <div class="icono">Icon</div>
                    <div class="icono">Icon</div>
                    <div class="icono">Icon</div>
                </div>
            </nav>
        </header>

        <aside class="stories flex">
            <div class="story"><div class="story-b">story</div></div>
            <div class="story"><div class="story-b">story</div></div>
            <div class="story"><div class="story-b">story</div></div>
            <div class="story"><div class="story-b">story</div></div>
        </aside>

        <main>
            <div class="content flex">
                <div class="headerpost">
                    <div>UsrImg</div>
                    <div>UserLink</div>
                </div>
                <div class="headerpost-b">
                    <div>...</div>
                </div>
            </div>

            <figure>
                <img class="image" src="https://fakeimg.pl/400x400/">
            </figure>
            <div class="actions flex">
                <div class="iconsLeft flex">
                    <div>Icon</div>
                    <div>Icon</div>
                    <div>Icon</div>
                </div>
                <div class="iconsRight">
                    <div>Icon</div>
                </div>
            </div>
            <div class="likes"># likes <span>LinkesUsrs</span></div>
            <div class="comment-user"><span>UsrName</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, maiores dolorum culpa, a ut repudiandae porro veritatis ad unde neque id. Eligendi totam aut consectetur corrupti minus, impedit asperiores animi?</div>
            <div class="comments">
                <div class="coment"><span>UsrsComents</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dicta cumque deserunt iste a fugiat accusamus placeat corrupti, aspernatur, voluptatem quasi totam id, nostrum quidem perferendis consequatur expedita harum ipsa.</div>
                <div class="coment"><span>UsrsComents</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dicta cumque deserunt iste a fugiat accusamus placeat corrupti, aspernatur, voluptatem quasi totam id, nostrum quidem perferendis consequatur expedita harum ipsa.</div>
            </div>
            <div class="time-posted">last 4 hours</div>

            <div class="add-comment flex"><p>Add coment</p><a href="">send</a></div>

        </main>

        <div class="suggestions-content flex">

            <header class="suggestions-header flex">
                <div>Suggestions for you</div>
                <a href="">See all</a>
            </header>

            <div class="suggestions flex">

                <div class="suggestion flex-column">
                    <div class="cancel">X</div>
                    <a href=""></a>
                    <div class="user-name-follow">
                        <a href="">UserName</a>
                        <p>follow you</p>
                    </div>
                    <a href="">follow</a>
                </div>

                <div class="suggestion flex-column">
                    <div class="cancel">X</div>
                    <a href=""></a>
                    <div class="user-name-follow">
                        <a href="">UserName</a>
                        <p>follow you</p>
                    </div>
                    <a href="">follow</a>
                </div>

                <div class="suggestion flex-column">
                    <div class="cancel">X</div>
                    <a href=""></a>
                    <div class="user-name-follow">
                        <a href="">UserName</a>
                        <p>follow you</p>
                    </div>
                    <a href="">follow</a>
                </div>

            </div>  

        </div>


    </div>
    
</body>
</html>