<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feed</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <nav>
            <div class="instagram">Instagram</div>
            <div class="iconos">
                <div class="icono">Icon</div>
                <div class="icono">Icon</div>
                <div class="icono">Icon</div>
            </div>
        </nav>
    </header>

    <aside class="stories">
        <div class="story"><div class="storyB">story</div></div>
        <div class="story"><div class="storyB">story</div></div>
        <div class="story"><div class="storyB">story</div></div>
        <div class="story"><div class="storyB">story</div></div>
    </aside>

    <div class="content">
        <div class="headerpost">
            <div>UsrImg</div>
            <div>UserLink</div>
            <div>...</div>
        </div>
    </div>

    <main>
        <figure>
        </figure>
        <div class="actions">
            <div>Icon</div>
            <div>Icon</div>
            <div>Icon</div>
            <div>Icon</div>
        </div>
        <div class="likes"># likes</div>
        <div class="comment"><span>UsrName</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, maiores dolorum culpa, a ut repudiandae porro veritatis ad unde neque id. Eligendi totam aut consectetur corrupti minus, impedit asperiores animi?</div>
    </main>
    
</body>
</html>