<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile-post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <main class="post">

        <div class="content flex">
            <div class="headerpost">
                <div>UsrImg</div>
                <div>UserLink</div>
            </div>
            <div class="headerpost-b">
                <div>...</div>
            </div>
        </div>
        <figure>
            <img class="image" src="https://fakeimg.pl/400x400/">
        </figure>
        <div class="actions-post flex">
            <div class="iconsLeft flex">
                <div>Icon</div>
                <div>Icon</div>
                <div>Icon</div>
            </div>
            <div class="iconsRight">
                <div>Icon</div>
            </div>
        </div>
        <div class="likes likes-post"># likes <span>LinkesUsrs</span></div>
        
        <div class="time-posted time-posted-post">last 4 hours</div>

        <div class="add-comment add-comment-post flex"><p>Add coment</p><a href="">send</a></div>

        <div class="comments-post">
            <div class="coment"><span>UsrsComents</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dicta cumque deserunt iste a fugiat accusamus placeat corrupti, aspernatur, voluptatem quasi totam id, nostrum quidem perferendis consequatur expedita harum ipsa.</div>
            <div class="coment"><span>UsrsComents</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dicta cumque deserunt iste a fugiat accusamus placeat corrupti, aspernatur, voluptatem quasi totam id, nostrum quidem perferendis consequatur expedita harum ipsa.</div>
        </div>

    </main>

</body>
</html>