<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-profile">

        <header>
            <nav class="flex">
                <div class="instagram rem">Instagram</div>
                <input type="text" placeholder="search" class="search-bar">
                <div class="iconos flex rem">
                    <div class="icono">Icon</div>
                    <div class="icono">Icon</div>
                    <div class="icono">Icon</div>
                </div>
            </nav>
        </header>

        <main class="main-profile">
            <div class="grid-main">
                <div class="headerpost-grid ">
                    <div class="picture-grid"></div>
                    <div class="grid-last">
                        <div>UserLink</div>
                        <div>...</div>
                    </div>
                    <p class="description-grid">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam enim velit quasi recusandae, facere quia, ea autem quam consequuntur vero earum eum. Deleniti laborum, minima atque quam expedita corrupti optio!</p>
                </div>
            </div>
        </main>
    </div>

    <div class="pictures">
        <img class="flex__item-one" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
        <img class="flex__item-two" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
        <img class="flex__item-three" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
        <img class="flex__item-four" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
        <img class="flex__item-five" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
        <img class="flex__item-six" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
        <img class="flex__item-seven" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
        <img class="flex__item-eight" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
        <img class="flex__item-nine" src="https://fakeimg.pl/100x100/ff0000%2C128/000%2C255/" alt="">
    </div>
    
</body>
</html>