<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class ="header">
        <div class="header__icon">Instargram logo</div>
        <div class="header__buttons"> Buttons</div>
    </header>

    <section class="stories">
        <div class="stories__circle"></div>
        <div class="stories__circle"></div>
        <div class="stories__circle"></div>
        <div class="stories__circle"></div>
        <div class="stories__circle"></div>
       
    </section>

    <main class="main">
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
        <div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div><div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div><div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div><div class="main_post post">
            <div class="post__header">Name</div>
            <img class="post__image" src="https://fakeimg.pl/750x500/000000/" alt="">
            <div class="post__text">blablablabalbalbalablabla</div>
            <div class="post__buttons post-buttons">
                <div class="post-buttons__heart"></div>
                <div class="post-buttons__comment"></div>
                <div class="post-buttons__share"></div>
                <div class="post-buttons__collection"></div>
            </div>
        </div>
       

        

        
    </main>
</body>
</html>