<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class ="header">
        <div class="header__icon">Instargram logo</div>
        <div class="header__buttons"> Buttons</div>
    </header>

    <section class="profile">
        <div class="profile__photo"></div>
        <div class="profile__name">Profile name
            <p class="profile__text">X publications X followers X follows <br> Blablablablabla</p>
        </div>
    </section>

    <section class="stories">
        <div class="stories__circle"></div>
        <div class="stories__circle"></div>
        <div class="stories__circle"></div>
        <div class="stories__circle"></div>
        <div class="stories__circle"></div>
    </section>

    <main class="profile-post">
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div><div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
        <div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div><div class="pofile-post__posts">
            <img class="profile-post-image" src="https://fakeimg.pl/800x600/000000/" alt="">
        </div>
    
        
    </main>

    <footer class="footer">
        <div>Information</div>
        <div>Help</div>
        <div>Instagram</div>
    </footer>
     
</body>
</html>