body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #193cff;
  font-family: "Arial";
}

.details, .item, .register, .login, .search {
  background-image: linear-gradient(to bottom right, #7f70ff, #fafafa);
  border-top: 0.8em solid #491386;
  border-bottom: 0.8em solid #d1d1ff;
  border-left: 0.8em solid #491386;
  border-right: 0.8em solid #d1d1ff;
  box-shadow: 0.3em 0.3em #1f1f1f;
  border-radius: 1rem;
}

.register input, .login input, .search input {
  display: block;
  border: 0.2em solid blue;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details span, .details h2, .item h2, h1, .register h2, .login h2, .search h2 {
  color: orange;
  text-shadow: 0.1em 0.1em black;
}

.details button, .register button, .search button {
  border: 0.2em solid darkblue;
  box-shadow: 0.2em 0.2em black;
  width: 40%;
  margin-left: 30%;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.search {
  width: 40%;
  margin-left: 30%;
}
.search input {
  width: 90%;
}
.details, .item, .register, .login, .search {
  background-image: linear-gradient(to bottom right, #7f70ff, #fafafa);
  border-top: 0.8em solid #491386;
  border-bottom: 0.8em solid #d1d1ff;
  border-left: 0.8em solid #491386;
  border-right: 0.8em solid #d1d1ff;
  box-shadow: 0.3em 0.3em #1f1f1f;
  border-radius: 1rem;
}

.register input, .login input, .search input {
  display: block;
  border: 0.2em solid blue;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details span, .details h2, .item h2, h1, .register h2, .login h2, .search h2 {
  color: orange;
  text-shadow: 0.1em 0.1em black;
}

.details button, .register button, .search button {
  border: 0.2em solid darkblue;
  box-shadow: 0.2em 0.2em black;
  width: 40%;
  margin-left: 30%;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.login {
  display: inline-block;
  padding: 0.5rem;
}
.login button {
  border: 0.2em solid darkblue;
  box-shadow: 0.2em 0.2em black;
  width: 40%;
  margin-left: 30%;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.login a {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}

.register {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}
.register--hide {
  display: none;
}
.register a {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}

.feedback {
  color: green;
}
.feedback--error {
  color: red;
}
.feedback--warning {
  color: orange;
}

.details, .item, .search, .login, .register {
  background-image: linear-gradient(to bottom right, #7f70ff, #fafafa);
  border-top: 0.8em solid #491386;
  border-bottom: 0.8em solid #d1d1ff;
  border-left: 0.8em solid #491386;
  border-right: 0.8em solid #d1d1ff;
  box-shadow: 0.3em 0.3em #1f1f1f;
  border-radius: 1rem;
}

.search input, .login input, .register input {
  display: block;
  border: 0.2em solid blue;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details span, .details h2, .item h2, h1, .search h2, .login h2, .register h2 {
  color: orange;
  text-shadow: 0.1em 0.1em black;
}

.details button, .search button, .register button {
  border: 0.2em solid darkblue;
  box-shadow: 0.2em 0.2em black;
  width: 40%;
  margin-left: 30%;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.details, .item, .search, .login, .register {
  background-image: linear-gradient(to bottom right, #7f70ff, #fafafa);
  border-top: 0.8em solid #491386;
  border-bottom: 0.8em solid #d1d1ff;
  border-left: 0.8em solid #491386;
  border-right: 0.8em solid #d1d1ff;
  box-shadow: 0.3em 0.3em #1f1f1f;
  border-radius: 1rem;
}

.search input, .login input, .register input {
  display: block;
  border: 0.2em solid blue;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details span, .details h2, .item h2, h1, .search h2, .login h2, .register h2 {
  color: orange;
  text-shadow: 0.1em 0.1em black;
}

.details button, .search button, .register button {
  border: 0.2em solid darkblue;
  box-shadow: 0.2em 0.2em black;
  width: 40%;
  margin-left: 30%;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

h1 {
  font-size: 4.5em;
}

.details, .item, .search, .login, .register {
  background-image: linear-gradient(to bottom right, #7f70ff, #fafafa);
  border-top: 0.8em solid #491386;
  border-bottom: 0.8em solid #d1d1ff;
  border-left: 0.8em solid #491386;
  border-right: 0.8em solid #d1d1ff;
  box-shadow: 0.3em 0.3em #1f1f1f;
  border-radius: 1rem;
}

.search input, .login input, .register input {
  display: block;
  border: 0.2em solid blue;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details span, .details h2, .item h2, .search h2, .login h2, .register h2, h1 {
  color: orange;
  text-shadow: 0.1em 0.1em black;
}

.details button, .search button, .register button {
  border: 0.2em solid darkblue;
  box-shadow: 0.2em 0.2em black;
  width: 40%;
  margin-left: 30%;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.results {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}

.details, .item, .search, .login, .register {
  background-image: linear-gradient(to bottom right, #7f70ff, #fafafa);
  border-top: 0.8em solid #491386;
  border-bottom: 0.8em solid #d1d1ff;
  border-left: 0.8em solid #491386;
  border-right: 0.8em solid #d1d1ff;
  box-shadow: 0.3em 0.3em #1f1f1f;
  border-radius: 1rem;
}

.search input, .login input, .register input {
  display: block;
  border: 0.2em solid blue;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details span, .details h2, .item h2, .search h2, .login h2, .register h2, h1 {
  color: orange;
  text-shadow: 0.1em 0.1em black;
}

.details button, .search button, .register button {
  border: 0.2em solid darkblue;
  box-shadow: 0.2em 0.2em black;
  width: 40%;
  margin-left: 30%;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.item {
  width: 40%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item img {
  max-width: 38vw;
  width: auto;
  cursor: pointer;
}
.item span {
  font-size: 2.1em;
  font-weight: bolder;
}

.details, .search, .login, .register, .item {
  background-image: linear-gradient(to bottom right, #7f70ff, #fafafa);
  border-top: 0.8em solid #491386;
  border-bottom: 0.8em solid #d1d1ff;
  border-left: 0.8em solid #491386;
  border-right: 0.8em solid #d1d1ff;
  box-shadow: 0.3em 0.3em #1f1f1f;
  border-radius: 1rem;
}

.search input, .login input, .register input {
  display: block;
  border: 0.2em solid blue;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details span, .details h2, .search h2, .login h2, .register h2, h1, .item h2 {
  color: orange;
  text-shadow: 0.1em 0.1em black;
}

.details button, .search button, .register button {
  border: 0.2em solid darkblue;
  box-shadow: 0.2em 0.2em black;
  width: 40%;
  margin-left: 30%;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.details {
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.details h2 {
  grid-area: 1/2/1/6;
}
.details img {
  grid-area: 2/1/5/4;
  max-width: 100%;
  width: auto;
}
.details .content {
  grid-area: 2/4/6/6;
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  font-size: 0.8em;
}
.details button {
  grid-area: 1/1/1/1;
  width: 80%;
  max-height: 40%;
  cursor: pointer;
}
.details span {
  grid-area: 5/1/5/4;
  font-size: 2.5em;
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
