body
    margin: 0
    padding: 0
    text-align: center
    background-color: #193cff
    font-family: 'Arial'
    
@import components/search
@import components/login
@import components/register
@import components/feedback
@import components/config
@import components/app
@import components/results
@import components/item
@import components/details