body
  text-align: center

ul
  list-style-type: none

a
  margin-top: 20px
  color: black
  cursor: pointer
  

@import utils/title

@import components/login
@import components/register
@import components/results
@import components/search




