include item

mixin results(results)
    ul.results
        each result in results
            - const { id, name, isFav, thumbnail, price } = result
            +item(id, name, isFav, thumbnail, price)
