<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>


<body>
    <header class="header">
        <ul class="header__wrapper">
            <li class="header__logo fas fa-check"></li>
            <li class="header__search fas fa-search"></li>
            <li class="header__cart fas fa-shopping-cart"></li>
            <li class="header__hamburguer fas fa-bars"></li>

        </ul>
    </header>

    <aside class="selectedfilter">
        <span class="selectedfilter__classmodel">Zapatillas / Air Max </span><br>
        <h3 class="selectedfilter__model">Air Max Zapatillas</h3>
        <div class="selectedfilter__filter fas fa-sliders-h"></div>
    </aside>
    <aside class="searched">
        <p>Air Max (11)</p>
        <p> Air Max 90 (19)</p>
        <p>Air Max 95(3)</p>
    </aside>
    <main class="maininfo">
        <div class="maininfo__productone"></div>
        <div class="maininfo__producttwo"></div>
        <div class="maininfo__productthree"></div>
        <div class="maininfo__productfour"></div>


    </main>
    <img class="fas fa-check">


</body>

</html>