<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>


<body class="bodypage">
    <header class="header">
        <ul class="header__wrapper">
            <li class="header__logo fas fa-check"></li>
            <li class="header__search fas fa-search"></li>
            <li class="header__cart fas fa-shopping-cart"></li>
            <li class="header__hamburguer fas fa-bars"></li>

        </ul>
    </header>

    <aside class="selectedfilter">
        <h3 class="selectedfilter__model">Air Max Zapatillas</h3>
        <div class="selectedfilter__filter fas fa-sliders-h"></div>
    </aside>
    <aside class="searched">
        <p>Air Max (11)</p>
        <p> Air Max 90 (19)</p>
        <p>Air Max 95 (3)</p>
    </aside>
    <main class="articles">
        <div class="articles__items">
            <div class="articles__picture"></div>
            <p class="articles__description">Air Max Bla Bla</p>
        </div>
        <div class="articles__items">
            <div class="articles__picture"></div>
            <p class="articles__description">Air Max Bla Bla</p>
        </div>
        <div class="articles__items">
            <div class="articles__picture"></div>
            <p class="articles__description">Air Max Bla Bla</p>
        </div>
        <div class="articles__items">
            <div class="articles__picture"></div>
            <p class="articles__description">Air Max Bla Bla</p>
        </div>
        <div class="articles__items">
            <div class="articles__picture"></div>
            <p class="articles__description">Air Max Bla Bla</p>
        </div>
        <div class="articles__items">
            <div class="articles__picture"></div>
            <p class="articles__description">Air Max Bla Bla</p>
        </div>

    </main>
    <footer class="footer">
        <div class="footertext">
            <p class="footertext__text">Tarjetas de regalo </p>
            <p class="footertext__text">Tiendas más cercanas </p>
            <p class="footertext__text">Regístrate para recibir correos electrónicos </p>
            <p class="footertext__text">Descuento para estudiantes </p>
            <p class="footertext__text">Comentarios sobre la web</p>
        </div>
        <div class="help">
            <p class="help__matters">Obtener ayuda</p>
            <p class="help__matters">Acerca de NIKE</p>
        </div>
        <div class="socialmedia">
            <ul>
                <li class="socialmedia__social fab fa-twitter"></li>
                <li class="socialmedia__social fab fa-facebook-f"></li>
                <li class="socialmedia__social fab fa-youtube"></li>
                <li class="socialmedia__social fab fa-instagram"></li>

            </ul>
        </div>
        <address class="address">
                <a class="adress__spain fas fa-map-marker-alt" href="https://www.nike.com/es/w/air-max-90-zapatillas-auqmozy7ok"> España</a>
        </address>
        <div class="legal">
            <p class="legal__terms">2020 Todos los derechos reservados</p>
            <p class="legal__terms">Guías</p>
            <p class="legal__terms">Condiciones de uso</p>
            <p class="legal__terms">Condiciones de venta</p>
            <p class="legal__terms">Política de privacidad y de cookies</p>
            <p class="legal__terms">Aviso legal</p>
            <p class="legal__terms">Configuración de cookies</p>
        </div>
    </footer>


</body>

</html>