<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="frame">

        
        <header class="header">
            
            <div class="header__isotopy"></div>
            <div class="header__logo-text"><p>Instagram</p></div>
            <div class="header__mail"></div>
        </header>

        <nav>
            <ul class="caroussel">
                <li class="caroussel__cercle"><a href="">Pict</a></li>
                <li class="caroussel__cercle"><a href="">Pict</a></li>
                <li class="caroussel__cercle"><a href="">Pict</a></li>
                <li class="caroussel__cercle"><a href="">Pict</a></li>
            </ul>
        </nav>
        <main class="main">
            <section class="main__info">
            

            </section>
            <figure class="main__info">
                <img src="<img src="torre.jpg" alt="La torre Eiffel">"
            </figure>
            <article class="main__info">

            </article>
            <article class="main__info">

         </article>
        </main>
        <footer class="main-footer">The footer</footer>
    </div>   
</body>
</html>