<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__cam">icon</div>
            <div class="header__logo">
                <p>Instagram</p></div>
            <div class="header__send">icon</div>
        </header>

       
            <nav class="navegacion">
                    <ul class="others-profiles">
                        <li class="others-profiles__cercle"><a href=""></li>
                        <li class="others-profiles__cercle"><a href=""></li>
                        <li class="others-profiles__cercle"><a href=""></li>
                        <li class="others-profiles__cercle"><a href=""></li>
                            
                    </ul>
            </nav>
      

        <main class="main">
            <article>
                <figure>
                    <img src="" alt="username">
                </figure>
            <h5><a href="">userName</a></h5>
            </article>
            <article>
                <figure>
                    <img src="<a href="http://www.freeimages.co.uk/galleries/sports/sportsgames/slides/2dice2.htm" target="_blank"><img src="http://www.freeimageslive.com/galleries/sports/sportsgames/preview/2dice2.jpg" title="gaming dice by www.freeimages.co.uk" width="400" height="300" /></a><br/>" alt="">
                    <div class="pictureos">
                        <button></button>
                        <button></button>
                        <button></button>
                    </div>
                    <p>post or coment</p>
                </figure>
            </article>
        </main>


        <footer class="footer">
                <nav>
                        <ul class="menu">
                            <li><a href="menu__home"></a>Home</li>
                            <li><a href="menu__search"></a>search</li>
                            <li><a href="menu__plus"></a>+</li>
                            <li><a href="menu__heart"></a>heart</li>
                            <li><a href="menu__profile"></a>profile</li>
                        </ul>
                </nav>
        </footer>
        
    </div>
</body>
</html>