/** {
    _margin: 0;
    _padding:0;
    box-sizing: border-box;
    border: 2px solid black;
}
body {
    margin: 0;
    _display: flex;
    flex-direction: column;
    _height:100vh;
    _width: 100vw;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: yellow;
    _width:100%;
    _flex-wrap:nowrap;
    _border:2px solid black;
}
.header__isotopy {
    flex-grow: 1;
    height: 80%;
    width: 15%;;
    border:1px solid black;
    background-color: pink;
    text-align: center;
    font-size: 20px;
    _padding: 10px 20px;
}
.header__logo-text {
    flex-grow: 1;
    height: 80%;
    width: 30%;;
    border:1px solid black;
    background-color: green;
}
.header__mail {
    flex-grow: 1;
    height: 80%;
    width: 15%;;
    border:1px solid black;
    background-color: red;
}

.caroussel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style:none;
    height: 15vh;
    width:100vw;
   
  
    border:2px solid black;
    background-color: yellow;
   

}
.caroussel__cercle {
    height: 60%;
    width: 20%;
   
    border-radius: 70%;

    border:1px solid black;
    background-color: red;
}
*/

* {
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
  }
  img {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
  }
  
  
  .frame {
    display: grid;
    min-height: 100vh;
    grid-gap: 2rem;
    grid-template-columns: 100%;
    grid-template-rows: 10% 5% 60% repeat(2, 10%) 5%;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }
  .header {
    grid-area: header;
    background-color: silver;
    border: 2px dashed white;
  
  }
  .content {
    grid-area: content;
    background-color: silver;
    border: 2px dashed white;
    display: flex;
    flex-direction: column;
  }
  
  .caroussel {
    grid-area: nav;
    background-color: silver;
    border: 2px dashed white;
    
  }
  
  .caroussel__cercle {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
  }
  .side {
    grid-area: sidebar;
    background-color: silver;
    border: 2px dashed white;
  }
  .ad {
    grid-area: ad;
    background-color: silver;
    border: 2px dashed white;
  }
  .main-footer {
    grid-area: footer;
    background-color: silver;
    border: 2px dashed white;
  }
  
  
  @media (min-width: 699px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: repeat(2, 1fr) 8fr 2fr;
      grid-template-areas: 
        "header  header"
        "nav     nav"
        "sidebar content"
        "ad      footer";
    }
    
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 998px) {
    .wrapper {
      grid-template-columns: 12% 60% 25%;
      grid-template-rows: 20% 50% 10% 5%;
      grid-template-areas: 
        "header header header"
        "nav content sidebar"
        "nav content ad"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
  
     .content {
       flex-direction: row;
     }
  
  }