%form
    display: inline-block
    display: flex
    flex-direction: column
    align-items: center
    margin: auto
    //border: 1px solid rgb(255, 123, 123)
    background-color: rgb(147, 215, 252)
    border-radius: 1rem
    padding: 0.5rem
    width: 30vw

%title
    font-family: Arial, sans-serif
    color: rgb(34, 68, 126)

%input
    display: block
    //border: 1px solid black
    border-radius: 1rem
    padding: 0.5rem
    margin: 0.5rem
    border: 0

%button
    display: block
    //border: 1px solid black
    border: 0
    border-radius: 1rem
    padding: 0.5rem
    margin: 0.5rem
    color: white
    background-color: rgb(252, 187, 46)