extends app

block body
    section
        if name
            h1 Welcome, #{name}!
        else 
            section
                a(href='/register') Register
                |  or 
                a(href='/login') Login
        h2 Search
        form(action='/search/', method='GET')
            input(type='text', name='query', value='')
            button(type='submit') Search
        if username
            form(action='/logout', method='POST')
                input(type='hidden', value='7', name='username')
                button Logout
            form(action='/favourites/7', method='GET')
                button(type='submit') My favourites