extends app

include search
include feedback
include details

block body
    section
        if name
            h1 Welcome, #{name}!
        else 
            section
                a(href='/register') Register
                |  or 
                a(href='/login') Login
        +search(query)
        if username
            form(action='/logout', method='POST')
                input(type='hidden', value=username, name='username')
                button Logout
            form(action=(`/favourites/${username}`), method='GET')
                button(type='submit') My favourites
        if results
            if (results.length)
                include results
                +results(results)
            else
                +feedback('warning', 'No Results')
        if result
            - const { id, name, year, price, image, color, maker, collection, description, url, isFav } = result
            +details(id, name, year, price, image, color, maker, collection, description, url, isFav)